.filter{
    display: flex; 
    flex-direction: row;
    justify-content:center;
     gap:10px;
}

.filterInput{
padding: 8px;
border-radius: 5px;
border: 1px solid green;
}
.filterText{
font-size: 16px;

}
.SearchBox{
    border: 1px solid green;
    margin: 16px auto;
    border-radius: 10px;
    padding: 16px;
    max-width: 600px;
}
.filterInput:hover, .filterInput:focus{
    border: 2px solid rgb(2, 63, 2);
}