.contactItem{
    display: flex;
    
color: black;
border: 1px solid rgb(255, 0, 187);
border-radius: 5px;
padding: auto;
}
.contactItemData{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contactItemTitel{
    font-size: 18px;
    color: brown;
}
.contactDelButton{
    
    color: red;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid red;
     margin: 0 auto;

 }

.contactDelButton:hover, .contactDelButton:focus{
    background-color: red;
    color: white;
    
}