.contactItem{
 
   max-width: 400px; 
color: black;
border: 1px solid rgb(255, 0, 187);
border-radius: 5px;

}
.contactItemData{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.contactN{
padding: 6px;
margin: 0;
}

.contactItemTitel{
    font-size: 18px;
    color: brown;
}
.contactDelButton{
    
    color: red;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid red;
   

 }

.contactDelButton:hover, .contactDelButton:focus{
    background-color: red;
    color: white;
    
}